@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container .hero-unit {
    max-width: 400px; }
    .container .hero-unit h1 {
      font-weight: 800;
      font-size: 32px;
      background-color: #eee;
      padding: 50px;
      text-align: center; }
    .container .hero-unit p {
      text-align: justify; }
  .container #peopleModule h1 {
    text-align: center; }
  .container #peopleModule div.inputModule {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .container #peopleModule div.inputModule input {
      padding: 5px;
      border-radius: 5px; }
    .container #peopleModule div.inputModule button#addPerson {
      background-color: #888888;
      color: #eee;
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      border: 0px;
      margin-left: 5px;
      transition: all 0.5s ease; }
    .container #peopleModule div.inputModule button#addPerson:hover {
      background-color: #bbbbbb; }
  .container #peopleModule ul#people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none; }
    .container #peopleModule ul#people li {
      background-color: #eee;
      padding: 5px;
      border-radius: 5px;
      margin: 5px; }
      .container #peopleModule ul#people li span.del {
        font-size: 6px;
        background-color: #888888;
        color: #fff;
        border-radius: 50%;
        padding: 2px 4px 2px;
        margin: 0 0 0 5px;
        vertical-align: text-top;
        transition: all 0.5s ease; }
      .container #peopleModule ul#people li span.del:hover {
        background-color: #bbbbbb; }
